@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--generalColors-paragraph);
  background: var(--generalColors-white);
  font-family: var(--font-outfit);
}

/* Płynne przesuwanie slider'a swiper loop */
.swiper-wrapper {
  transition-timing-function: linear !important;
}
